---
title: 2nd Term Attrition
permalink: /2nd-term-attrition/
layout: landing
---

{% assign year = '2017' %}
{% assign term2 = site.data.roster | where: "term", "Term 2" %}
{% assign groups = term2 | group_by_exp: 'teammate', 'teammate.term_end_date | slice: 0,2' | sort: 'name' %}

<h1>{{ page.title }}</h1>
<label for="options">Calendar year</label>
<select name="options" id="options">
  <option value="value1">Calendar Year 2017</option>
  <option value="value2">Option B</option>
  <option value="value3">Option C</option>
</select>

<table>
  <thead>
    <tr>
      <th scope="col">Jan</th>
      <th scope="col">Feb</th>
      <th scope="col">Mar</th>
      <th scope="col">Apr</th>
      <th scope="col">May</th>
      <th scope="col">Jun</th>
      <th scope="col">Jul</th>
      <th scope="col">Aug</th>
      <th scope="col">Sep</th>
      <th scope="col">Oct</th>
      <th scope="col">Nov</th>
      <th scope="col">Dec</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% assign yearly_total = 0 %}
      {% for group in groups %}
        <td>{{ group.size }}</td>
        {% assign yearly_total = yearly_total | plus: group.size %}
      {% endfor %}
      <td>{{ yearly_total }}</td>
    </tr>
  </tbody>
</table>

{% for group in groups %}
  {% if group.name == '01' %}
    {% assign month = 'January' %}
  {% elsif group.name == '02' %}
    {% assign month = 'February' %}
  {% elsif group.name == '03' %}
    {% assign month = 'March' %}
  {% elsif group.name == '04' %}
    {% assign month = 'April' %}
  {% elsif group.name == '05' %}
    {% assign month = 'May' %}
  {% elsif group.name == '06' %}
    {% assign month = 'June' %}
  {% elsif group.name == '07' %}
    {% assign month = 'July' %}
  {% elsif group.name == '08' %}
    {% assign month = 'August' %}
  {% elsif group.name == '09' %}
    {% assign month = 'September' %}
  {% elsif group.name == '10' %}
    {% assign month = 'October' %}
  {% elsif group.name == '11' %}
    {% assign month = 'November' %}
  {% elsif group.name == '12' %}
    {% assign month = 'December' %}
  {% endif %}
<h2>{{ month }} {{ year }} - {{ group.size }} Billable Employees Ending 2nd Term</h2>
<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Chapter</th>
      <th scope="col">Role</th>
      <th scope="col">Billable status</th>
      <th scope="col">End of term date</th>
    </tr>
  </thead>
  <tbody>

    {% for teammate in group.items %}
    {% assign names = teammate.email | remove: '@gsa.gov' | split: '.' %}
    <tr>
      <th scope="row">{{ forloop.index }}</th>
      <td>{% for name in names %}{{ name | capitalize }} {% endfor %}</td>
      <td>{{ teammate.team }}</td>
      <td>{{ teammate.role }}</td>
      <td>{{ teammate.billable_status }}</td>
      <td>{{ teammate.term_end_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
